In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = "https://mars.nasa.gov/news/"

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\david\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
browser.visit(url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
titles_body_soup = soup.find_all("div", class_ = ("content_title", "article_teaser_body"))

In [4]:
display(len(titles_body_soup))
title_list = []
news_list = []
for i,x in enumerate(titles_body_soup):
    if i % 2 == 0:
        news_list.append(x.text)
    else:
        title_list.append(x.text)
display(len(title_list))
display(len(news_list))
#news list has extra line due to div content_title from nav bar element
news_list = news_list[1:49]
display(len(news_list))

91

45

46

45

In [5]:
jpl_url = "https://www.jpl.nasa.gov/images?search=&category=Mars"
browser.visit(jpl_url)
time.sleep(.5)
browser.find_by_css("img.BaseImage").click()
browser.find_by_css("svg.IconExpand").click()

In [6]:
jpl_html = browser.html
soup0 = BeautifulSoup(jpl_html, "html.parser")
featured_image_jpg = soup0.find_all("div", class_ ="BaseLightbox__slide__img")[0]("img")[0]["src"]

In [7]:
mars_url = "https://space-facts.com/mars/"
browser.visit(mars_url)
mars_table = pd.read_html(mars_url)

In [8]:
# mars_df = DataFrame(mars_table[0])
planet_comparison_df = mars_table[1].set_index("Mars - Earth Comparison")
display(planet_comparison_df)
mars_facts = mars_table[0].rename(columns = ({0 : "Description", 1 : "Mars"})).set_index("Description")
display(mars_facts)

mars_html = mars_facts.to_html()
print(mars_html)

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [9]:
hemisphere_dict_list = []
hemisphere_images_urls = {}
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)
time.sleep(.5)
for x in range(4):
    browser.find_by_css("img.thumb")[x].click()
    browser.find_by_css("a.open-toggle").click()
    large_hemi_html = browser.html
    hemi_soup = BeautifulSoup(large_hemi_html, "html.parser")
    title= hemi_soup("h2", class_ = "title")[0].text
    hemisphere_images_urls["title"] = title.replace(" Enhanced", "")
    hemisphere_images_urls["img_url"] = hemi_soup("img", class_ = "wide-image")[0]["src"]
    hemisphere_dict_list.append(hemisphere_images_urls)
    browser.visit(hemi_url)
    hemisphere_images_urls = {}
hemisphere_dict_list
browser.quit()

In [10]:
dict_data = {}
dict_data["article_title"]  = title_list[0]
dict_data["news_list"] = news_list[0]
dict_data["featured_image"] = featured_image_jpg
dict_data["mars table" ] = mars_html
dict_data["hemisphere_dict_list"] = hemisphere_dict_list
dict_data

{'article_title': 'Another First: Perseverance Captures the Sounds of Driving on Mars',
 'news_list': 'NASA’s newest rover recorded audio of itself crunching over the surface of the Red Planet, adding a whole new dimension to Mars exploration.',
 'featured_image': 'https://d2pn8kiwq2w21t.cloudfront.net/original_images/jpegPIA24505.jpg',
 'mars table': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'hemisphere_dict_list': [{'title': 'Cerberus Hemisphere',
   'img_url': '/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere',
   'img_url': '/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere',
   'img_url': '/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere',
   'img_url': '/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [12]:
from pymongo import MongoClient
mongo_conn=MongoClient('mongodb://localhost:27017')
mars_db = mongo_conn["mars_db"]
mars_coll = mars_db["mars"]
mars_db.mars_coll.insert_one(dict_data)