In [78]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd

In [23]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = "https://mars.nasa.gov/news/"

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\david\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [12]:
browser.visit(url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
titles_body_soup = soup.find_all("div", class_ = ("content_title", "article_teaser_body"))

In [13]:
display(len(titles_body_soup))
title_list = []
news_list = []
for i,x in enumerate(titles_body_soup):
    if i % 2 == 0:
        news_list.append(x.text)
    else:
        title_list.append(x.text)
display(len(title_list))
display(len(news_list))
#news list has extra line due to div content_title from nav bar element
news_list = news_list[1:49]
display(len(news_list))

91

45

46

45

In [48]:
jpl_url = "https://www.jpl.nasa.gov/images?search=&category=Mars"
browser.visit(jpl_url)
time.sleep(.5)
browser.find_by_css("img.BaseImage").click()
browser.find_by_css("svg.IconExpand").click()

In [76]:
jpl_html = browser.html
soup0 = BeautifulSoup(jpl_html, "html.parser")
featured_image_jpg = soup0.find_all("div", class_ ="BaseLightbox__slide__img")[0]("img")[0]["src"]

In [83]:
mars_url = "https://space-facts.com/mars/"
browser.visit(mars_url)
mars_table = pd.read_html(mars_url)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [178]:
# mars_df = DataFrame(mars_table[0])
planet_comparison_df = mars_table[1].set_index("Mars - Earth Comparison")
display(planet_comparison_df)
mars_facts = mars_table[0].rename(columns = ({0 : "Description", 1 : "Mars"})).set_index("Description")
display(mars_facts)

mars_html = mars_table[0].to_html()
print(mars_html)
created_html = open("mars_table.html", "w")
created_html.write(mars_html)
created_html.close()

                                    Mars            Earth
Mars - Earth Comparison
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

                                               Mars
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [180]:
hemisphere_dict_list = []
hemisphere_images_urls = {}
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)
time.sleep(.5)
for x in range(4):
    browser.find_by_css("img.thumb")[x].click()
    browser.find_by_css("a.open-toggle").click()
    large_hemi_html = browser.html
    hemi_soup = BeautifulSoup(large_hemi_html, "html.parser")
    title= hemi_soup("h2", class_ = "title")[0].text
    hemisphere_images_urls["title"] = title.replace(" Enhanced", "")
    hemisphere_images_urls["img_url"] = hemi_soup("img", class_ = "wide-image")[0]["src"]
    hemisphere_dict_list.append(hemisphere_images_urls)
    browser.visit(hemi_url)
    hemisphere_images_urls = {}
hemisphere_dict_list
browser.quit()